{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="column-left">
    <img src="{% static 'cat-stretch-black-silhouette.jpg' %}" class="column-pic">
    <img src="{% static 'cat-stretch-black-silhouette.jpg' %}" class="column-pic">
    <img src="{% static 'cat-stretch-black-silhouette.jpg' %}" class="column-pic">

</div>

<div class="column-right">
    <img src="{% static 'cat-stretch-black-silhouette.jpg' %}" class="column-pic">
    <img src="{% static 'cat-stretch-black-silhouette.jpg' %}" class="column-pic">
    <img src="{% static 'cat-stretch-black-silhouette.jpg' %}" class="column-pic">

</div>

<div class="middle-container">

    <div>
    <p class="info-text">This is where you will go to see helpful tips and information about finding a lost pet</p>
    </div>
    
</div>

{% endblock %}