* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background: lightgray;
}

.header {
    font-size: 5rem;
    text-align: center;
    background: salmon;
    border: solid black 1rem;
    color: white;
    font-family: sans-serif;
    text-shadow: .5rem .5rem .25rem #000;
}

.links {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid black .25rem;
}

.link {
    font-size: 2rem;
    text-shadow: lime;
    font-family: Tahoma, sans-serif;
    text-emphasis-color: violet;
}

.column-left {
    width: 20%;
    background: white;
    float: left;
    height: 1000px;
    border-right: .25rem solid black;

}

.column-pic {
    max-width: 100%;
    align-items: center;
    padding-right: 4rem;
}

.column-right {
    width: 20%;
    background: white;
    float: right;
    height: 1000px;
    border-left: .25rem solid black;

}

.middle-container {
    width: 60%;
    display:flex;
    height: 1000px;
    justify-content: center;
}

.blurb {
    align-items: center;

}

.blurb-text {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    align-items: center;
}

.pet-box {
    text-align: center;
    border: solid black 1rem;
    align-items: center;
    margin-left: 10rem;
    margin-right: 10rem;
}

.pet-image {
    height: 5rem;
    width: 5rem;
}

.question-mark {
    font-size: 20rem;
}



.info-text {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
}