{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    {% block meta %}{% endblock %}


    <title>Find My Furry Friend</title>
</head>
<body>
    <header class="header">Find My Furry Friend
    </header>
    <div class="links">
        <a class="link" href="/">Home</a>
        <a class="link" href="{% url 'profile-page' %}">Profile</a>
        <a class="link" href="/">Lost Pets</a>
        <a class="link" href="{% url 'info' %}">Information</a>
        <a class="link" href="/">Log Out</a>
    </div>

    {% block content %}
    <main>

    <div class="column-left">
        <img src="{% static 'cat-stretch-black-silhouette.jpg' %}" class="column-pic">
        <img src="{% static 'cat-stretch-black-silhouette.jpg' %}" class="column-pic">
        <img src="{% static 'cat-stretch-black-silhouette.jpg' %}" class="column-pic">

    </div>
    
    <div class="column-right">
        <img src="{% static 'cat-stretch-black-silhouette.jpg' %}" class="column-pic">
        <img src="{% static 'cat-stretch-black-silhouette.jpg' %}" class="column-pic">
        <img src="{% static 'cat-stretch-black-silhouette.jpg' %}" class="column-pic">

    </div>

    <div class="middle-container">

    <div class="blurb">
        <p class="blurb-text">This is sample text to see how things look. gtgeoias abithreiwohr awfioaehsfil kfrea fesk eflakweh fiuhkawel fheawlk fawie flakw faewk fawehkufl kawe faewl fkawehflaewihf ,wf ailwhf kaewfl qwe</p>
    </div>

    </div>
    {% endblock %}

    </main>

    
</body>
</html>

